# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build / Compiled output
dist/
build/

# Uploads (if you store files locally)
uploads/
tmp/

# Database files (if local)
*.sqlite
*.sqlite3
*.db
*.db-journal

# Editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
